.aboutMe__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.header2 {
    position: relative;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: normal;
}

.h2__bg {
    position: absolute;
    height: 72px;
    width: 300px;
    background-color: #ffd829;
    bottom: 3vh;
    right: 54vw;
    z-index: -1;
}

.nataliaImg {
    display: block;
    width: 40%;
    height: auto;
}

.aboutText {
    width: 40%;
}

.aboutText p {
    position: relative;
    font-size: 20px;
    line-height: 150%;
    padding: 40px;
    margin: 100px 0;
}

.aboutText p span:nth-child(1) {
    position: absolute;
    width: 5px;
    height: 20vh;
    background-color: #ffd829;
    top: -40px;
    left: 0;
}

.aboutText p span:nth-child(2) {
    position: absolute;
    width: 20vh;
    height: 5px;
    background-color: #ffd829;
    top: 0px;
    left: -40px;
}

.aboutText p span:nth-child(3) {
    position: absolute;
    width: 5px;
    height: 20vh;
    background-color: #ffd829;
    bottom: -40px;
    right: 0;
}

.aboutText p span:nth-child(4) {
    position: absolute;
    width: 20vh;
    height: 5px;
    background-color: #ffd829;
    bottom: 0;
    right: -40px;
}


/*                        LANDSCAPE                         */



@media (orientation: landscape) and (max-width: 1400px) {
    .header2 {
        font-size: 60px;
    }
}

@media (orientation: landscape) and (max-width:823px) {
    .aboutMe__wrapper {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .nataliaImg {
        width: 50%;
    }
    .aboutText {
        width: 80%;
    }
    .aboutText p span:nth-child(1) {
        width: 3px;
        height: 30vh;
    }
    .aboutText p span:nth-child(2) {
        width: 30vh;
        height: 3px;
    }
    .aboutText p span:nth-child(3) {
        width: 3px;
        height: 30vh;
    }
    .aboutText p span:nth-child(4) {
        width: 30vh;
        height: 3px;
    }
}

@media (orientation: landscape) and (max-width:640px) {
    .header2 {
        font-size: 40px;
    }

    .h2__bg {
        width: 30vw;
        height: 15vh;
        right: 60vw;
        top: 22vh;
    }
}


/*                        PORTRAIT                           */


@media (orientation: portrait) and (max-width: 540px) {
    .header2 {
        font-size: 30px;
    }

    .h2__bg {
        width: 130px;
        height: 35px;
        right: 65%;
        top: 28%;
    }

    .aboutMe__wrapper {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .nataliaImg {
        width: 80%;
    }
    .aboutText {
        width: 90%;
        font-size: 15px;
    }
    .aboutText p span:nth-child(1) {
        width: 3px;
        height: 20vh;
    }
    .aboutText p span:nth-child(2) {
        width: 20vh;
        height: 3px;
    }
    .aboutText p span:nth-child(3) {
        width: 3px;
        height: 20vh;
    }
    .aboutText p span:nth-child(4) {
        width: 20vh;
        height: 3px;
    }


}

@media (orientation: portrait) and (max-width: 360px) {
    .header2 {
        font-size: 25px;
    }

    .h2__bg {
        width: 130px;
        height: 35px;
        right: 65%;
        top: 28%;
    }
}

