.contact {
    position: relative;
    background-image: url(../img/contactBg.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    height: 100vh;
}

.contactHeader {
    position: relative;
    color: black;
    background-color: #fff;
    z-index: 1;
}

.contactHeader::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 90px 90px;
    border-color: transparent transparent rgb(255, 216, 41) transparent;
    z-index: -1;
    top: 3%;
    left: 25%;
}

.contactHeader::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 90px 90px;
    border-color: transparent transparent rgb(255, 216, 41) transparent;
    z-index: -1;
    bottom: 3%;
    right: 25%;
    transform: rotate(180deg);
}

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 70%;
    width: 30vw;
    background-color: rgba(221, 221, 221, 0.705);
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    padding: 20px;
    border-radius: 10px;
}

form input {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
}

form textarea {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    resize: none;
}

form .contactButton {
    display: block;
    font-family: 'Caveat', cursive;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 40px;
    border-radius: 5px;
    width: 100%;
    background-color: #FFD829;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 2px solid white;
    text-transform: uppercase;
    
}