.contactWrapper {
    position: relative;
    background-image: url(../img/contactBg.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.contactHeader {
    position: relative;
    color: black;
    background-color: #fff;
    z-index: 1;
}

.contactHeader::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 90px 90px;
    border-color: transparent transparent rgb(255, 216, 41) transparent;
    z-index: -1;
    top: 3%;
    left: 25%;
}

.contactHeader::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 90px 90px;
    border-color: transparent transparent rgb(255, 216, 41) transparent;
    z-index: -1;
    bottom: 3%;
    right: 25%;
    transform: rotate(180deg);
}

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    background-color: rgba(221, 221, 221, 0.705);
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    padding: 20px;
    border-radius: 10px;
    min-height: 90vh;
}

form input {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
}

form textarea {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    resize: none;
}

form .contactButton {
    display: block;
    font-family: 'Caveat', cursive;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 40px;
    border-radius: 5px;
    width: 100%;
    background-color: #FFD829;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 2px solid white;
    text-transform: uppercase;
}

/*                        LANDSCAPE                         */

@media (orientation:landscape) {
    .contactHeader {
        font-size: 40px;
    }
    .contactHeader::before {
        border-width: 0 0 70px 70px;
        top: 4%;
        left: 30%;
    }
    .contactHeader::after {
        border-width: 0 0 70px 70px;
        bottom: 4%;
        right: 30%;
    }
    form {
        width: 45vw;
    }
}

@media (orientation:landscape) and (max-width: 1024px) {
    .contactHeader::before {
        border-width: 0 0 40px 40px;
        top: 22%;
        left: 24%;
    }
    .contactHeader::after {
        border-width: 0 0 40px 40px;
        bottom: 22%;
        right: 24%;
    }
}

@media (orientation:landscape) and (max-width: 823px) {
    .contactHeader::before {
        border-width: 0 0 40px 40px;
        top: 3%;
        left: 17%;
    }
    .contactHeader::after {
        border-width: 0 0 40px 40px;
        bottom: 3%;
        right: 17%;
    }
    form {
        height: 80vh;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        left: 50%;
        top: 10%;
    }
    form input {
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
        width: 45%;
        margin: 0;
    }
    form textarea {
        font-size: 15px;
        width: 100%;
        resize: none;
        height: 35%;
        margin-bottom: 20px;
    }
    form .contactButton {
        margin: 20px 0;
        font-size: 20px;
        line-height: 40px;
    }
}

@media (orientation:landscape) and (max-width:720px) {
    .contactHeader::before {
        top: 4%;
        left: 13%;
    }
    .contactHeader::after {
        bottom: 4%;
        right: 13%;
    }
    form {
        height: 90%;
        width: 80vw;
        left: 50%;
        top: 5%;
    }
    form input {
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
        width: 45%;
        height: 12vh;
        margin: 0;
    }
    form .contactButton {
        padding: 10px 10px;
        margin: 0px;
        font-size: 30px;
        height: 80px;
        line-height: 50px;
    }
}

@media (orientation:landscape) and (max-width:640px) {
    .contactHeader {
        font-size: 40px;
        padding: 30px;
    }
    .contactHeader::before {
        border-width: 0 0 50px 50px;
        top: 9%;
        left: 8%;
    }
    .contactHeader::after {
        border-width: 0 0 50px 50px;
        bottom: 9%;
        right: 8%;
    }
    form {
        height: 90%;
        width: 80vw;
        left: 50%;
        top: 5%;
    }
}

@media (orientation:landscape) and (max-width:568px) {
    .contactHeader {
        font-size: 30px;
        padding: 30px;
    }
    .contactHeader::before {
        border-width: 0 0 40px 40px;
        top: 3%;
        left: 13%;
    }
    .contactHeader::after {
        border-width: 0 0 40px 40px;
        bottom: 3%;
        right: 13%;
    }
    form {
        height: 90%;
        width: 80vw;
        left: 50%;
        top: 5%;
    }
}

/*                        PORTRAIT                           */

@media (orientation:portrait) {
    .contactHeader::before {
        border-width: 0 0 50px 50px;
        top: 20%;
        left: 13%;
    }
    .contactHeader::after {
        border-width: 0 0 50px 50px;
        bottom: 20%;
        right: 13%;
    }
    form {
        min-height: 90vh;
        min-width: 90vw;
    }
}

@media (orientation: portrait) and (max-width: 768px) {
    .contactHeader {
        font-size: 40px;
    }


}

@media (orientation: portrait) and (max-width: 320px) {
    form textarea {
        margin: 0;
        height: 30vh;
    }
}