.priceList {
    height: 100vh;
    width: 100vw; 
}

.priceListWrapper {
    height: 100vh;
    width: 100vw;
    background-color: #ddd;
}

.priceListWrapper h2 {
    text-align: center;
    line-height: 100vh;
    font-size: 50px;
    text-transform: uppercase;
}